@extern('header')



	<header>
	    <div class="logo">
	       <a href="{{APP_URL_BASE}}/landing"><img src="{{APP_URL_LOGO_MAIN}}" alt=""></a>
	    </div>
	</header>
	<main class="main-landing">

		<div class="landing m12t letra-negra">
			<!-- <span class="font-25 font-400">Bienvenido a App-Estación: Datos Meteorológicos en Tiempo Real</span> -->
			<div id="box_charge">
				<div class="loading-container">
			        <div class="circle outer-circle"></div>
			        <div class="circle outer-circle-parent"></div>
			        <div class="circle inner-circle"></div>
			        <div class="circle inner-circle-parent"></div>
			    </div>
			    <div class="menssage_charge">
			    	Bloqueando la cuenta, aguarde un segundo...
			    </div>
			</div>
			<div id="error_conteiner" class="d-none">
				<div id="error_icon_check" class="error-icon check">&#128274;</div>
				<div id="error_icon_cruz" class="error-icon cruz">&#128275;</div>
				<div id="error_msg" class="error-msg"></div>
			</div>
		</div>
	</main>
    <script src="{{APP_URL_BASE}}/views/static/js/blocked.js"></script>

@extern('footer')