@extern('header')
@extern('navbar')
	<main class="main-landing">
		<div class="landing m12t letra-negra">

			<!-- <span class="font-25 font-400">Bienvenido a App-Estación: Datos Meteorológicos en Tiempo Real</span> -->
			<template id="template_estacion">
				<div class="content_estacion">
					<div class="estacion_title">
						<span class="estacion_nombre"></span>
					</div>
					<div class="footer_card">
						<span class="estacion_ubicacion"></span>
					</div>
				</div>
			</template>
			<div id="detalle__estacion" class="panel_admin"></div>

			<div class="chart_control">
				<button class="btn_chart_change" onclick="setChart(this)" value="tem" id="btn_tem">Temperatura</button>
				<button class="btn_chart_change" onclick="setChart(this)" value="vie" id="btn_vie">Viento</button>
				<button class="btn_chart_change" onclick="setChart(this)" value="hum" id="btn_hum">Humedad</button>
				<button class="btn_chart_change" onclick="setChart(this)" value="pre" id="btn_pre">Presion</button>
				<button class="btn_chart_change" onclick="setChart(this)" value="rin" id="btn_rin">Riesgo de Incendio</button>
			</div>
			<div class="chart_info"></div>
			<div id="chart-container" class="chart_container">
                <canvas id="donutChart" width="800" height="300"></canvas>
            </div>
		</div>
	</main>
    <script src="{{APP_URL_BASE}}/views/static/js/stationDetails.js"></script>

@extern('footer')