@extern('header')
@extern('navbar')
<!--     <header>
        <div class="logo">
            <a href="{{APP_URL_BASE}}/landing"><img src="{{APP_URL_LOGO_MAIN}}" alt=""></a>
        </div>

        <button class="menu" onclick="sideNav()">
            <i class="letra-blanca fa-solid fa-bars precio"></i>
        </button>
        <div class="enlaces" id="enlacesHead">

        </div>
    </header>
 -->
    <main class="main-landing">
        <section class="container_slider m12b">
            <div id="slider">
                <ul>
                    <li>
                        <img src="{{APP_URL_BASE}}/views/static/img/system/landing.jpeg" alt="">
                        <div class="txt-imagen titulo_importante font-400">Conoce el clima hoy para un mejor mañana. Descubre App-Estación.</div>
                    </li>
                </ul>
            </div>
        </section>
        <div class="landing m12t letra-negra">

            <span class="font-25 font-400">Bienvenido a App-Estación: Datos Meteorológicos en Tiempo Real</span>
            <p class="text font-17 font-400 p12L">
                Con App-Estación, accede a datos precisos y en tiempo real de las condiciones climáticas en Córdoba y Buenos Aires. Nuestra plataforma recolecta y analiza información de estaciones meteorológicas locales, proporcionando gráficos y reportes intuitivos que facilitan la toma de decisiones para individuos, empresas y comunidades. Desde alertas de clima hasta tendencias detalladas, App-Estación convierte los datos en herramientas prácticas para planificar y adaptarse a un entorno en constante cambio.

            </div>

        </main>

        @extern('footer')