@extern('header')

<div class="hiden main-login">
        <div class="logo">
            <a href="{{APP_URL_BASE}}/landing"><img src="{{APP_URL_LOGO_MAIN}}" alt=""></a>
        </div>
        <div class="contenedor-login">
            <div class="login letra-blanca">
                <form action="">
                    <h4 class="p10">INICIAR SESIÓN</h4>
                    <h5 class="sub-title">Completa para continuar.</h5>
                    <div class="fila">
                        <h5 class="txt">Email</h5>
                        <i class="fa-regular fa-envelope left-icon"></i>
                        <input class="linea_registro" type="text" placeholder="Hello@reallygreatsite.com" id="txt_email">

                    </div>
                    <div class="fila">
                        <h5 class="txt">Contraseña</h5>
                        <i class="fa-regular fa-lock left-icon"></i>
                        <i class="fa-light fa-eye pa r0" id="togglePassword"> </i>
                        <input class="linea_registro" type="password" placeholder="Ingrese su Contraseña " id="txt_pass">
                    </div>
                    <span id="msg_box"></span>
                    <input type="submit" value="Iniciar sesión" class="btn_registro" id="btn_login">
                    <span class="font-resgistro">¿Olvidaste tu contraseña?</span><br>
                    <span class="font-resgistro"><a href="{{APP_URL_BASE}}/register" class="font-registro">No tenes cuenta? Registrate</a></span>
                </form>
            </div>
        </div>
                <div class="imagen_login"><img src="{{APP_URL_BASE}}/views/static/img/system/Innovplast_Mano.png" alt=""></div>
    </div>
<!-- 
	 <h1>Bienvenido al login</h1>
	<form action="" method="POST">
		<input type="text" name="txt_email" id="txt_email" placeholder="Email">
		<input type="password" name="txt_pass" id="txt_pass" placeholder="Contraseña">
		<input type="submit" name="btn_login" id="btn_login" value="Ingresar">
		<div id="msg_box"></div>
	</form>
	<a href="register">Registro</a>
	<a href="getpass">Olvido su contraseña?</a>
 -->
<!-- 	<script src="{{APP_URL_BASE}}/views/static/js/frontend/login.js"></script> -->
    <script src="{{APP_URL_BASE}}/views/static/js/frontend/ojito.js"></script>
    <script src="{{APP_URL_BASE}}/views/static/js/backend/login.js"></script>
