@extern('header')
@extern('navbar')

<!--     <header class="hiden">
        <div class="flex cajita-header">
            <div class="logo">
                <a href="{{APP_URL_BASE}}/landing"><img src="{{APP_URL_LOGO_MAIN}}" alt=""></a>
            </div>
            <div class="icono">
                <input class="buscador" type="search" placeholder="Buscar producto">
                <input type="submit" class="material-icons-outlined btn_lupa" value="search">
            </div>
            <nav>
                <label id="menuIcon" onclick="mostrarMenu()">
                    <span class="fa-solid fa-bars precio"></span>
                </label>

                <ul id="menucito">
                    <li><a href=""><i class="fa-light fa-house m10r"></i>Inicio</a></li>
                    <li><a href=""><i class="fa-thin fa-shop m10r"></i>Productos</a></li>
                    <li class="m10r"><a href="#" id="popupPerfil"><i class="fa-light fa-user m10r"></i>Mi perfil</a><i class="fa-thin fa-caret-down"></i></li>
                    <li><i class="fa-thin fa-bell p12R"></i></li>
                    <li><i class="fa-light fa-cart-shopping p12R"></i></li>
                    
                </ul>
                <div id="popupModal" class="modal">
                    <div class="modal-content">
                        <p class="letra-negra">{{NOMBRE_USUARIO}}</p>
                        <p class="letra-negra p12L">Mi perfil</p>
                        <p class="letra-negra">Compras</p>
                        <p class="letra-negra">Historial</p>
                    </div>
                </div>
            </nav>
        </div>
    </header> -->

    <main class="perfil_usuario">
        <div class="titulo_produtos m12b">
            <span class="font-25 letra-negra-azul m12t m12b">Mi perfil</span>
        </div>
        <div class="contenedor-general-perfil m12t">
            <div class="contenedor-der-perfil ">
                <div class="contenedor_detalles p12T">
                    <img class="round-image" src="{{AVATAR_USUARIO}}" alt="">
                </div>
                <div class="columna" id="profile_user">
                    <p class="m12t font-subtitle letra-negra p12T ">Usuario: {{NOMBRE_USUARIO}} {{APELLIDO_USUARIO}}</p>
                    <p class="m12t font-subtitle letra-negra">Email: {{EMAIL_USUARIO}} </p>
                    <p class="m12t font-subtitle letra-negra">TEL: {{TELEFONO_USUARIO}} </p>
                    <p class="m12t font-subtitle letra-negra">Direccion: {{DOMICILIO_USUARIO}} </p>
                    <div class="font-subtitle letra-violeta">{{MSG_REGISTER_ERROR}}</div>

                </div>

                <form action="" method="POST" id="form_edit_profile" class="columna m12t font-subtitle letra-negra ocultar_contenido">     
                    <p>Nombre: <input class="border-none-bottom" type="text" name="txt_first_name" value="{{NOMBRE_USUARIO}}" ></p>
                    <p>Apellido: <input class="border-none-bottom" type="text" name="txt_last_name" value="{{APELLIDO_USUARIO}} " ></p>
                    <p>Email: <input class="border-none-bottom" type="text" name="txt_email_user" value="{{EMAIL_USUARIO}}" ></p>
                    <p>TEL: <input class="border-none-bottom" type="text" name="txt_tel_user" value="{{TELEFONO_USUARIO}}" ></p>
                    <p>Direccion: <input class="border-none-bottom" type="text" name="txt_dir_user" value="{{DOMICILIO_USUARIO}}" ></p>

                    <input type="submit" name="btn_guardar" id="save_profile" class="btn_registro letra-blanca m12t ocultar_contenido" value="Guardar">
                </form>
                <div class="columna">
                    <button type="submit" id="edit_profile" class="btn_registro letra-blanca m12t">Editar perfil</button>
                </div>
            </div>
            <div class="contenedor-izq-perfil">
                @extern('perfil')
            </div>
        </div>
    </main>



<!-- 	<div id="wrapper">

		<div id="header">
		
			<div id="control">
				<a href="panel" class="css-button-rounded--yellow">Panel</a>
 			</div>
			 
	
		</div>
		 
		<div id="content">

			<div id="window">
				
				<div id="window__image">
 					<img src="img/system/landing.svg" alt="">	
 				</div>

				<div id="window__description">
					
					 <h1>Perfil</h1>

					 <img src="{{AVATAR}}" alt="">

					<form action="" method="POST">
						
						<input type="text" name="txt_first_name" value="{{NOMBRE}}" placeholder="nombre">
						<input type="text" name="txt_last_name" value="{{APELLIDO}}" placeholder="apellido">
						<input type="submit" name="btn_guardar" value="Guardar">

						<div>{{MSG_REGISTER_ERROR}}</div>

						

					</form>

					<button id="leaveout">Abandonar</button>

					<a href="{{APP_URL_BASE}}/panel" class="">Panel</a>

				</div>

			</div>
		</div> -->

	<script src="{{APP_URL_BASE}}/views/static/js/backend/perfil.js"></script>
    <script src="{{APP_URL_BASE}}/views/static/js/frontend/popupEliminarCuenta.js"></script>
@extern('footer')