@extern('header')
@extern('navbar')

    <main class="main-productos">
        <div class="titulo_produtos m12b " >
            <h4 class="letra-negra font-25" onclick="mostrarPopup()"> Tienda online Innovplast </h4>
        </div>


        <div class="contenedor_100 m12t">
            <button class="ocultar_icono flex-center contenedor_100 btn_filtro letra-azul" id="btn_filtro">FILTRAR</button>
            <div class="sidebar bloquear-contenedor " id="filtros">
                
                <div class="filtro_precio columna m12t">
                    <span class="letra-negra m12t m12b font-17">Categoria</span>
                    <label class="custom-checkbox flex ml-2">
                        <input type="radio" name="product-category" id="tapas"  value="innovplast" checked>
                        <span class="checkmark "></span>
                        <span class="checkbox-text p12L letra-negra-azul ">Productos innovplast</span>
                    </label>
                    <label class="custom-checkbox m12t flex ml-2">
                        <input type="radio" name="product-category" id="products" value="otros">
                        <span class="checkmark "></span>
                        <span class="checkbox-text p12L letra-negra-azul">Otros productos</span>
                    </label>

                </div>
                <div class="filtro m12t">
                    <span class="letra-negra">Ordenar por:</span>
                    <select class="select_filtro">
                        <option class="font-12 option" value='1'>Menor precio</option>
                        <option class="font-12 option" value='2'>Mayor precio</option>
                    </select>
                </div>
                <div class="filtro_precio columna m12t">
                    <span class="letra-negra m12t font-17">Rango de precios</span>
                    <span class="letra-negra-azul p12L m12t">Desde ${{PRECIO_MINIMO}}</span>
                    <span class="letra-negra-azul p12L m12t m12b">Hasta ${{PRECIO_MITAD}}</span>
                    <div class="flex m12t">
                        <input type="text" class="input-price m10r" placeholder="Minimo" >
                        <p class="letra-negra">-</p>
                        <input type="text" class="input-price m10l" placeholder="Maximo">
                    </div>
                </div>
            </div>

            <section class="container_productos m12b" id="product__list">
            <!-- 
            <div class="info-contenedor ">
                <div class="contenedor_produ">
                    <img class="imagen_produ" src="img/tapas_verdes.jpg" alt="">
                </div>
                <div class="contenedor_info">
                    <h4 class="letra-negra font-title p10">
                        Tapas rojas x 10kg
                    </h4>
                    <div class="letra-negra p10">
                        <i class="fa-regular fa-mask precio"></i>
                        <h4 class="letra-negra font-title">$20000,00</h4>
                    </div>
                    <div class="letra-negra flex font-title">
                        <p class="p12L">Stock :</p>
                        <p class="stock">Disponible</p>
                    </div>

                    <div class="icon-absolute-abajo flex ">
                        <i class="fa-solid fa-star precio"></i>
                        <i class="fa-solid fa-star precio"></i>
                        <i class="fa-solid fa-star precio"></i>
                        <i class="fa-solid fa-star precio"></i>
                        <i class="fa-solid fa-star precio"></i>
                    </div>
                </div>
                <button type="submit" value="Crear cuenta" class="btn_registro">Ver más</button>
                
            </div> -->

        </section>

    </div>
    <div id="popup" class="popup">
        <div class="columna font-400">
            <i class="fa-solid fa-triangle-exclamation titulo_importante flex-center letra-roja font-400 m12b"></i>
            <span class="font-25 m12b font-400"> !Es necesario estar registrado para acceder a esta sección¡</span>
            <span class="font-17">Si no lo estas, registrate para poder ver más información</span>
        </div>
       
        
    </div>

        <div class="paginacion m12b m12t" id="paginacion">
            <button id="volver"><i class="fa-solid fa-angles-left"></i></button>
            <span id="inicio" class="letra-negra"></span>
            <button id="mover"><i class="fa-solid fa-angles-right"></i></button>
        </div>
    </main>
    <!-- 
 	<h1>Listado de productos</h1>
 	<button popovertarget="pop__add" popovertargetaction="toggle" class="myButton btn-comprar">Añadir</button>
 
	<div id="product__list"></div> 		

 	<div id="pop__add" popover>
 		<div method="POST" class="form__pop__add">
			<div class="add--product--img">
				<form id="uploadForm" enctype="multipart/form-data" method="POST">
			        <input type="file" name="image" id="image" accept="image/*" required>
			        <button type="submit" class="uploadImage">Subir</button>
			    </form>
			    <div id="response"></div>
			</div>
			<div class="add--product--info">
				<div class="add--product--data">
					Ingrese el nombre: <input type="text" name="txt_product_name" class="input__add__product" id="prod_name" required>
				</div>
				<div class="add--product--data">
					Ingrese el descripcion: <input type="text" name="txt_product_desc" class="input__add__product" id="prod_desc" required>
				</div>
				<div class="add--product--data">
					Ingrese el precio unitario: $<input type="number" name="txt_product_price" class="input__add__product" id="prod_unit_price" required>
				</div>
				<div class="add--product--data">
					Ingrese el stock : <input type="number" name="txt_product_stock" class="input__add__product" id="prod_stock" required>
				</div>
			</div>
		    <div class="add--product--control">
				<button class="btn__cancel" popovertarget="pop__add" popovertargetaction="toggle">Cancelar</button>	
				<input type="submit" name="btn_add_product" value="Añadir" class="btn__add" onclick="addNewProduct(this)">	
			</div>
		</div>			
	</div>
  <a href="panel">Volver al Panel</a>

 -->
	 <script src="{{APP_URL_BASE}}/views/static/js/backend/productList.js"></script>
    <script src="{{APP_URL_BASE}}/views/static/js/frontend/mostrarFiltros.js"></script>
    <script src="{{APP_URL_BASE}}/views/static/js/frontend/productoPopup.js"></script>
@extern('footer')