
@font-face {
  font-family: 'Material Icons Outlined';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/gok-H7zzDkdnRel8-DQ6KAXJ69wP1tGnf4ZGhUce.woff2) format('woff2');
}

.Rojo{
  filter: hue-rotate(265deg) brightness(80%) grayscale(30%) contrast(200%);
}
.Azul{
  filter: hue-rotate(115deg);
}
.Violeta{
  filter: hue-rotate(170deg) brightness(90%);
}
.Naranja{
  filter: hue-rotate(-65deg) brightness(92%);
}
.Amarillo{
  filter: hue-rotate(-30deg) brightness(110%);
}
.Gris{
  filter: grayscale(95%);
}
.Blanco{
  filter: grayscale(98%) contrast(75%) brightness(130%);
}
.Negro{
  filter: grayscale(94%) contrast(120%) brightness(120%) invert(100%) brightness(65%);
}

.iconos {
  font-family: 'Material Icons Outlined';
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  --webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

 *{
 	padding: 0;
 	box-sizing: border-box;
 	font-family: sans-serif;
 	text-decoration: none;
 	color: black;
 }

.product--img {
  width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
}
img {
  	width: 250px;
	height: 250px;
	object-fit: cover;
	border-radius: 20px;
}

.product--info {
  	width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 20%;
    gap: 10px;
}
.product--card {
  border: solid 1px gray;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

div#product__list {
    height: 45%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: thin;
}
div#chart__list {
    height: 40rem;
    width: 100%;
    display: flex;
    justify-content: start;
    gap: 1rem;
    flex-wrap: wrap;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: thin;
}
div.product__card {
    width: 30%;
    height: 25rem;
}

.myButton {
	background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:8px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}

.product--cart{
	width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product--buttonscant{
	width: 100%;
    display: flex;
    justify-content: center;
    gap: 5%;
}

.btn-cant{
	width: 30%;
    background: transparent;
    border: none;
    font-size: x-large;
}

.btn-agregar{
	width: 100%;
    padding: 6px;
    background: #44c767;
    border-radius: 15px;
	border: 1px solid #18ab29;
	cursor:pointer;
	color:#ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.btn-agregar .iconos{
	color: white;
	font-size: 20px;
}

[popover] {
  border: solid 1px gray;
  border-radius: 8px;
  overflow: hidden;
  align-items: center;
  padding: 20px;
}

[popover]::backdrop {
  	background: #000a;
  	backdrop-filter: blur(2px);
}

div.form__pop__add {
    height: 20rem;
    width: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.add--product--info {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.add--product--data {
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}
input.input__add__product {
    background: #f1f1f1;
    border: none;
    border-radius: 0.5rem;
    padding: 0.3rem;
    border-bottom: 1px solid #b9b9b9;

}
.add--product--control {
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
button.btn__cancel {
    height: 100%;
    width: 35%;
    background: #ff9e9e;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}
input.btn__add {
    height: 100%;
    width: 35%;
    background: #68e589;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}

@media (max-width: 800px){

	template#product__list {
		grid-template-columns: auto;
	}
}