
    <header>
        <div class="logo">
           <a href="{{APP_URL_BASE}}/landing"><img src="{{APP_URL_LOGO_MAIN}}" alt=""></a>
        </div>
<!--         <div class="icono">
            <input class="buscador" type="search" placeholder="Buscar producto">
            <input type="submit" class="material-icons-outlined btn_lupa" value="search">
        </div> -->
<!--         <button class="menu" onclick="sideNav()">
            <i class="letra-blanca fa-solid fa-bars precio"></i>
        </button> -->
        <div class="enlaces" id="enlacesHead">
            <button>
                <a href="{{APP_URL_BASE}}/landing" class="letra-blanca">
<!--                     <span class="material-symbols-outlined">
                        home_app_logo 
                    </span> -->
                    Landing
                </a> 
            </button>
<!--             <button><a href="{{APP_URL_BASE}}/login" class="letra-blanca"><i class="p12R fa-solid fa-right-to-bracket"></i>Iniciar sesión</a> </button>
            <button><a href="{{APP_URL_BASE}}/register" class="letra-blanca"><i class="p12R fa-solid fa-user-plus"></i>Registrarse</a> </button> -->
        </div>


    </header>