                <a href="{{APP_URL_BASE}}/misCompras" class="info_extra_usuario">
                    <div class="iconos_usuario">
                        <i class="fa-regular fa-repeat"></i>
                    </div>
                    <div class="contenedor_info_extra_usuario ">
                        <p class="title m12t p12L letra-azul">Mis compras</p>
                        <p class="font-subtitle m12t p12L letra-negra-azul">Ve tus últimas compras realizadas.</p>
                    </div>
                    <div class="icono_modificar">
                        <i class="fa-solid fa-angle-right"></i>
                    </div>
                </a>
                <a href="{{APP_URL_BASE}}/misOpiniones" class="info_extra_usuario">
                    <div class="iconos_usuario">
                        <i class="fa-regular fa-repeat"></i>
                    </div>
                    <div class="contenedor_info_extra_usuario">
                        <p class="title m12t p12L letra-azul">Mis opiniones</p>
                        <p class="font-subtitle m12t p12L letra-negra-azul">Ve tus opiniones o opina de tus compras realizadas.</p>
                    </div>
                    <div class="icono_modificar">
                        <i class="fa-solid fa-angle-right letra-azul"></i>
                    </div>
                </a>
                <a href="{{APP_URL_BASE}}/misTarjetas" class="info_extra_usuario">
                    <div class="iconos_usuario">
                        <i class="fa-regular fa-credit-card p12R"></i>
                    </div>
                    <div class="contenedor_info_extra_usuario">
                        <p class="title m12t p12L letra-azul">Tarjeta</p>
                        <p class="font-subtitle m12t p12L letra-negra-azul">Tarjetas que registraste en tu cuenta.</p>
                    </div>
                    <div class="icono_modificar">
                        <i class="fa-solid fa-angle-right letra-azul"></i>
                    </div>
                </a>
                <a href="{{APP_URL_BASE}}/newPass" class="info_extra_usuario">
                    <div class="iconos_usuario">
                        <i class="fa-regular fa-repeat"></i>
                    </div>
                    <div class="contenedor_info_extra_usuario">
                        <p class="title m12t p12L letra-azul">Cambiar contraseña</p>
                        <p class="font-subtitle m12t p12L letra-negra-azul">¿Desea cambiar su contraseña?</p>
                    </div>
                    <div class="icono_modificar">
                        <i class="fa-solid fa-angle-right letra-azul"></i>
                    </div>
                </a>
               
                <div class="info_extra_usuario letra-negra " id="popupEliminarCuenta">
                    <div class="iconos_usuario">
                        <i class="fa-solid fa-user-slash"></i>
                    </div>
                    <div class="contenedor_info_extra_usuario">
                        <p class="title m12t p12L letra-azul">Eliminar cuenta</p>
                        <p class="font-subtitle m12t p12L letra-negra-azul">Eliminar su cuenta permanentemente.</p>
                    </div>
                    <div class="icono_modificar">
                        <i class="fa-solid fa-angle-right letra-azul"></i>
                    </div>
                </div>